bin
obj
.git
.github
Dockerfile
*.md
*.json
!appsettings.json
!appsettings.development.json
!global.json
!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json
*.log
node_modules
